:root {
  --fontColor: rgb(217, 217, 227);
  --backGround: rgb(11, 11, 108);
  --FontType: "Chakra Petch"
}

/* .chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
} */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--FontType);
    margin: 0;
  }
  
  header {
    padding: 10px;
    text-align: center;
    background: var(--backGround);
    color: var(--fontColor);
  }
  
  nav {
    display: flex;
    background-color: #1e2a6e;
    justify-content: end;
    color: var(--fontColor);
  }

  nav:hover a {
    background-color:blue;
    color:var(--fontColor)
    
  }
  
  nav a {
    color: var(--fontColor);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    background-color: var(--backGround);
    padding: 20px;
    text-align: center;
    color:var(--fontColor);
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: var(--fontColor);
  }
  
  .works {
    flex: 4;
    background-color: #62aee8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 10px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }

  #github-span:hover::after {
    content: "Link to GitHub repository page";
    /* position: absolute; */
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: var(--background);
    padding: 10px;
    color: var(--fontColor);
    font-size: 10px;
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
